label.switch {
    margin-bottom: 0px;
}

.resultProfileImg {
    text-align: right;
}

.resultProfileDetail {
    text-align: left;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
}

.resultProfileDetail ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.chartContainer {
    text-align: center;
}