label.switch {
    margin-bottom: 0px;
}

.resultProfileImg,
.labelSearch,
.paginationDataQuarantee {
    text-align: right;
}

.resultProfileDetail {
    text-align: left;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
}

.resultProfileDetail ul {
    margin-bottom: 0;
    padding: 0;
}

.data-detail,
.data-detail-first,
.tooltipDetail ul,
.resultProfileDetail ul{
    list-style: none;
}

.tooltipDetail {
    text-align: left;
    padding: 1rem 2rem;
}

.tooltipDetail ul {
    margin-bottom: 15px;
    padding: 0;
    font-size: 16px;
    color: black;
}

.checkbox-other {
    padding-top: 3px;
}

.data-detail-first {
    border-right: 1px solid #787878;
}



.chartContainer {
    text-align: center;
}

#collapseSearchForm input:not([role="combobox"]):focus {
    outline: none;
    background: #d6f7ff;
    border-color: #0014df;
}

#collapseSearchForm input:not([role="combobox"]) {
    padding: 0.15rem 0.5rem;
}

#collapseSearchForm .Select-input,
#collapseSearchForm .Select-control{
    height: 24px;
}

#collapseSearchForm .Select-placeholder,
#collapseSearchForm .Select-value{
    line-height: 26px;
}

.test, .card-header {
    background-color: #0080ae;
    color: white;
}

.tooltip-inner,
.__react_component_tooltip {
    max-width: 620px;
    /*!* If max-width does not work, try using width instead *!*/
    width: 620px;
    background-color: #15567f;
}

.bs-tooltip-left .arrow::before{
    border-left-color: #15567f;
}


