label.switch {
    margin-bottom: 0px;
}

.resultProfileImg,
.labelSearch,
.paginationDataQuarantee {
    text-align: right;
}

.resultProfileDetail {
    text-align: left;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
}

.resultProfileDetail ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.tooltipDetail {
    text-align: left;
    padding: 1rem 2rem;
}

.tooltipDetail ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}

.chartContainer {
    text-align: center;
}

#collapseSearchForm input:not([role="combobox"]):focus {
    outline: none;
    background: #d6f7ff;
    border-color: #0014df;
}

#collapseSearchForm input:not([role="combobox"]) {
    padding: 0.15rem 0.5rem;
}

#collapseSearchForm .Select-input,
#collapseSearchForm .Select-control{
    height: 24px;
}

#collapseSearchForm .Select-placeholder,
#collapseSearchForm .Select-value{
    line-height: 26px;
}

.test {
    color: #00aced;
}

.tooltip-inner {
    max-width: 600px;
    /* If max-width does not work, try using width instead */
    width: 600px;
    background-color: #15567f;
}
